@import url(../../../node_modules/github-markdown-css/github-markdown-light.css);

body {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0 auto;
  width: 50vw;
  padding: 10px !important;
}

@media screen and (max-width: 760px) {
  ul {
    width: 90vw;
  }
}

details {
  border: gray dashed 1px;
  ul {
    border-radius: 5px;
    width: 100%;

    li {
      padding: 10px;
    }
  }

  & summary {
    padding: 10px;
    &:hover {
      background-color: lightgray;
    }
  }
  &[open] summary {
    background-color: lightgray;
  }
}

.markdown-body {
  margin: 0 auto;
}
